@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
* {
	border: 1px solid red;
}
:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	/* ### Neutral */
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%); 
}


html {
	font-size: 15px;
	font-family: 'Spartan';

}
body {
	max-width: 400px;
	margin: auto;
}
main {
	padding: 80px 15px;
	text-align: center;
	background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  	background-position: top left, bottom;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-size: max(50%, 375px);
}
h1 {
	color: var(--very-dark-magenta);
    padding: 0 20px;
}

p {
	color: var(--dark-grayish-magenta);
}
.rated {
	background-color: var(--light-grayish-magenta);
	margin: 10% 0;
	padding: 10%;
	border-radius: 10px;
	color: var(--very-dark-magenta);
	font-weight: 700;
}
.rated img {
	display: inline-block;
    padding-bottom: 20px;
}
.reviews {
	background-color: var(--very-dark-magenta);
	margin: 10% 0;
	color: var(--white);
	border-radius: 10px;
    padding: 40px 25px;
}
.reviews img {
	border-radius: 50%;
    height: 50px;
    width: auto;
    margin-right: 25px;
}
.top {
	display: flex;
	font-weight: 500;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

}
.top p {
	color: var(--soft-pink);
}
.quote {
	text-align: left;

}
.name {
	color: var(--white);
}

@media only screen and (min-width: 1200px) {
	body {
		max-width: 100%;
	}
	main {
    	background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    	background-repeat: no-repeat, no-repeat;
    	background-position: left top, right bottom;
    	background-size: cover;
    	background-size: max(40%, 200px), max(65%, 200px);
	}
	#alpha {
		display: flex;
	}
	#beta {
		display: flex;
	}
}